body {
    margin: 0px;
    font-family: Circular, spotify-circular, Helvetica, Arial, sans-serif;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: #1ed760;;
}
nav {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    margin: 20px;
}
.logo_img {
    width: 132px;
}
.main_menu {
    display: flex;
    justify-content: space-between;
}
.menu_item {
    padding: 28px 17px;
    font-weight: 700;
    color: white;
}

main {
    background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
    height: 969px;
    background-color: rgb(41, 65, 171);
    background-size: 175%;
    background-position: 46% 4%; /* x좌표 y좌표 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 146px;
    line-height: 166px;
    color: #1ed760;
    font-weight: 900;     
    position: relative;
    left: 225px;
    padding-bottom: 40px;
}
.title_first {
    position: relative;
    left: -2.5em;
}
.sub_title {
    color: #1ed760;
    font-size: 18px;
    padding-bottom: 40px;
    text-align: center;
}
.button_area {
    /* position: relative; */
    text-align: center;
}
.main_button {
    padding: 14px 32px;
    background-color: #1ed760;
    border-radius: 500px;
    font-size: 16px;
    color: #2941ab;
    font-weight: 700;
    border: none;
}
.main_button:hover {
    transform: scale(1.1); /* 커지게 하는 효과 */
}

footer {
    height: 530px;
    background-color: black;
    display: flex;
    justify-content: center;
    /* display: flex;
    justify-content: center; */
}
.footer_container{
    max-width: 1170px;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 50px;
    position: relative;
}
.link_item {
    color: #919496;
    margin-right: 24px;
}
.footer_main{
    display: flex;
    justify-content: space-between;
    height: 346px;
}
.footer_menu{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.column {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}
.footer_menu_title {
    color: #919496;
    font-weight: 900;
    margin: 20px 0px;
}
.footer_menu_item{
    padding-bottom: 15px;
    padding-top: 3px;
    font-size: 16px;
}
.footer_sns{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}
.icon_box{
    width: 54px;
    height: 54px;
    background-color: #222322;
    border-radius: 50%;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    font-size: 24px;
}
.icon:hover{
    color: #2de26d;
}
.footer_first{
    display: flex;
    justify-content: flex-end;
    color: #919496;
    font-size: 12px;
}
.footer_final{
    display: flex;
    justify-content: space-between;
    color: #919496;
    margin-top: 12px;
}
.copyright{
    color: #919496;
}